<h1 mat-dialog-title>Add Task Form</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="outline">
      <mat-label>Task Name</mat-label>
      <input formControlName="task" matInput placeholder="Task Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Task Status</mat-label>
      <mat-select formControlName="status" placeholder="Task Status">
        <mat-option value="To Do">To Do</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addTask()">{{actionBtn}}</button>
</div>
